<h1><%= @script.name %>.rb has been executed</h1>

<hr>
<% if @b.errors.any? %>
  <br>
  <div class="alert alert-danger">
    <% @b.errors.each do |error| %>
      <%= error %>
    <% end %>
  </div>
<% elsif @b.results.any? %>
  <br>
  <label for="results">Console:</label>
  <pre><% @b.results.each do |result| %><%= result %><% end %></pre>
<% else %>
  <pre>No output. No errors. Use puts method if you want to print something here.</pre>
<% end %>

<hr>
<%= link_to 'Review your code', edit_script_path(@script), class: 'btn btn-default' %>
