<h1><%= @script.name %>.rb has been executed</h1>

<hr>
<% if @b.errors.any? %>
  <br>
  <div class="alert alert-danger">
    <% @b.errors.each do |error| %>
      <%= error %>
    <% end %>
  </div>
<% elsif @b.results.any? %>
  <br>
  <label for="results">Console:</label>
  <pre><% @b.results.each do |result| %><%= result %><% end %></pre>
<% else %>
  <pre>No output. No errors. Use puts method if you want to print something here.</pre>
<% end %>

<hr>
<%= link_to 'Review your code', edit_script_path(@script), class: 'btn btn-default' %>




<a class="typeform-share button hidden" href="https://alessiosantocs.typeform.com/to/OaSzp4" data-mode="1" target="_blank">Launch me!</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
<script>!function(){function a(a){for(var b=a+"=",c=document.cookie.split(";"),d=0;d<c.length;d++){for(var e=c[d];" "==e.charAt(0);)e=e.substring(1);if(0==e.indexOf(b))return e.substring(b.length,e.length)}return""}function b(a,b,c){var d=new Date;d.setTime(d.getTime()+24*c*60*60*1e3);var e="expires="+d.toUTCString();document.cookie=a+"="+b+"; "+e}function c(){var c=a("has_run_script_already");""!=c||($(".typeform-share").click(),b("has_run_script_already","true",365))}window.setTimeout(c,2e3)}();</script>
